.imgList1 a.banner {
    display: block;
    width: 100%;
    margin-bottom: 40px;
}
.imgList1 img {
    display: block;
}
.imgList1 ul {
    display: flex;
    justify-content: space-around;
}
.imgList1 img {
    display: block;
}
.imgList1 ul li dl dd {
    text-indent: 10px;
    margin-top: 20px;
    font-size: 14px;
}
.imgList1 ul li dl dd:nth-child(3) {
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: #A10000;
    font-weight: bold;
}
.imgList1 h2 img {
    display: block;
    width: 100%;
}
.imgList1 h2 {
    width: 80%;
    margin: 10px auto 20px;
}