.Bott {
    background: #f5f5f5;
}
.Bott .zuo{
    margin: 20px 20px 20px 0;
    width: 180px;
    background: #fff;
    text-align: center;
    line-height: 40px;
    border: 1px solid #e4e4e4;
}
.Bott .zuo h3{
    border-bottom: 1px solid #A10000;
    cursor: pointer;
    padding: 10px 0;
    font-weight: normal;
}
.Bott .zuo h3 a img{
    display: block;
    margin: 0 auto;
}
.Bott .zuo h3 p{
    width: 70%;
    margin: 0 auto;
}
.Bott .zuo h3 p span{
    border-bottom: 1px solid #fff;
}
.Bott .zuo h3 span:hover{
    color: #A10000;
    border-bottom: 1px solid #A10000;
}
.Bott .zuo div{
    background: #fcfcff;
}
.Bott .zuo  h4{
    cursor: pointer;
    width: 90%;
    color: #444;
    font-size: 14px;
}
.Bott .zuo ul li a{
    display: inline-block;
    color: #757575;
    width: 40%;
    text-align: left;
    font-size: 14px;
}
.Bott .zuo ul li.on a,.Bott .zuo ul li a:hover{
    color: #A10000;
}

.Bott .you{
    background: #fff;
    width: 840px;
    padding: 50px;
    margin: 20px 0;
    border: 1px solid #e4e4e4;
}
.Bott .you  h2{
    font-size: 22px;
    font-weight: normal;
    padding-bottom: 20px;
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 30px;
}
.Bott .you .tx {
    padding-bottom:10px ;
    border-bottom: 1px solid #E6E6E6;
}
.Bott .you .tx div a.fl{
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    border: 1px solid #e3e3e3;
    padding: 1px;
}
.Bott .you .tx div p{
    margin: 25px 0 0 15px;
}
.Bott .you .tx div p span{
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}
.Bott .you .tx div p a{
    display: block;
    color: #A10000;
}
.Bott .you .tx div.fr{
    margin: 40px 0 0 0;
    color: #757575;
}
.Bott .you .bott{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
}
.Bott .you .bott div{
    flex: 1 1 50%;
    margin: 20px 0;
}
.Bott .you .bott div p{
    font-size: 15px;
    color: #757575;
    margin: 35px 0 0 15px;
}
.Bott .you .bott div p strong{
    color: #A10000;
}
.Bott .you .bott div a{
    display: block;
    font-size: 12px;
    color: #757575;
    margin-top: 10px;
}