* {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 12px;
    font-family: "Microsoft Yahei", Î¢ÈíÑÅºÚ, 'pingfang sc' , Simsun, Arial, sans-serif;
    color: #262626;
    background: #FFF;
}

.wrapper {
    width: 1160px;
    margin: 0 auto;
}
.banner {
    min-width: 1160px;
}
.banner img {
    width: 100%;
}
.address {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #DBDBDB;
}
address a, .address span {
    float: left;
    color: #777;
}
.current {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 10px;
}
.current .choice {
    position: relative;
    line-height: 40px;
}
.proList > li {
    position: relative;
    float: left;
    width: 268px;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #fff;
}
.proList > li dl dd {
    height: 30px;
    line-height: 30px;
}
.proList > li dl dd:last-child, .paintList a dl dd:last-child {
    color: #C10000;
    font-size: 16px;
}

